@model Case_Management_System.Models.CaseType

@{
    ViewData["Title"] = "Details";
}

<div class="card shadow border-0 my-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Case Type Details</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CaseTypeName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CaseTypeName)
            </dd>
        </dl>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.CaseTypeId" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
</div>
