@model Case_Management_System.Models.Case

@{
    ViewData["Title"] = "Edit Case";
    var evidencePaths = ViewBag.EvidencePaths as List<string>; // Get the evidence paths from ViewBag
}

<div class="card shadow border-0 my-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Edit Case</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="CitizenId" />
            <input type="hidden" asp-for="CaseTypeId" />
            <input type="hidden" asp-for="OfficerId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CaseNum" />
            <input type="hidden" asp-for="Evidence" />

            <div class="row">
                <div class="col-md-11">
                    <div class="form-floating py-2">
                        <label asp-for="CaseDescription" class="control-label"></label>
                        <input asp-for="CaseDescription" class="form-control border-0 shadow" readonly />
                        <span asp-validation-for="CaseDescription" class="text-danger"></span>
                    </div>

                    <div class="form-floating py-2 col-12">
                        <input type="date" asp-for="IncidentDate" class="form-control border-0 shadow" max="@DateTime.Now.ToString("yyyy-MM-dd")" readonly />
                        <label asp-for="IncidentDate" class="ms-2">Incident Date</label>
                        <span asp-validation-for="IncidentDate" class="text-danger"></span>
                    </div>

                    <div class="form-floating py-2">
                        <label asp-for="IncidentTime" class="control-label"></label>
                        <input type="time" asp-for="IncidentTime" class="form-control border-0 shadow" readonly />
                        <span asp-validation-for="IncidentTime" class="text-danger"></span>
                    </div>

                    <div class="form-floating py-2">
                        <label asp-for="Location" class="control-label"></label>
                        <input asp-for="Location" class="form-control border-0 shadow" readonly />
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>

                    <div class="form-floating py-2">
                        <label asp-for="StreetAddress" class="control-label"></label>
                        <input asp-for="StreetAddress" class="form-control border-0 shadow" readonly />
                        <span asp-validation-for="StreetAddress" class="text-danger"></span>
                    </div>

                    <div class="form-floating py-2">
                        <label asp-for="CaseTypeId" class="control-label"></label>
                        <select asp-for="CaseTypeId" class="form-select border-0 shadow" asp-items="ViewBag.CaseTypeId" disabled>
                            <option disabled selected>--Select Case Type--</option>
                        </select>
                        <span asp-validation-for="CaseTypeId" class="text-danger"></span>
                    </div>

                    <div class="form-floating py-2">
                        <label asp-for="CitizenId" class="control-label"></label>
                        <select asp-for="CitizenId" class="form-select border-0 shadow" asp-items="ViewBag.CitizenId" disabled>
                            <option disabled selected>--Select Citizen--</option>
                        </select>
                        <span asp-validation-for="CitizenId" class="text-danger"></span>
                    </div>

                    <div class="form-floating py-2">
                        <label asp-for="OfficerId" class="control-label"></label>
                        <select asp-for="OfficerId" class="form-select border-0 shadow" asp-items="ViewBag.OfficerId" disabled>
                            <option disabled selected>--Select Officer--</option>
                        </select>
                        <span asp-validation-for="OfficerId" class="text-danger"></span>
                    </div>

                    <div class="form-floating py-2">
                        <label asp-for="Status" class="control-label"></label>
                        <select asp-for="Status" class="form-select border-0 shadow" asp-items="ViewBag.Status">
                            <option disabled selected>--Select Status--</option>
                        </select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="StatusReason" class="form-control border-0 shadow" />
                        <label asp-for="StatusReason" class="ms-2">Status Reason</label>
                        <span asp-validation-for="StatusReason" class="text-danger"></span>
                    </div>

                    <div class="row pt-2">
                        <div class="col-6 col-md-3">
                            <input type="submit" value="Save" class="btn btn-primary form-control" />
                        </div>
                        <div class="col-6 col-md-3">
                            <a asp-controller="Cases" asp-action="OfficerCases" class="btn btn-outline-primary form-control">Back to List</a>
                        </div>
                    </div>
                </div>

                <div class="col-1">
                    <div>
@*                         <strong>Uploaded Evidence:</strong>
                        @if (!string.IsNullOrEmpty(Model.Evidence))
                        {
                            <img src="@Model.Evidence" width="100"
                                 style="border-radius:5px; border:1px solid #bbb9b9" alt="Case Evidence" />
                        }
                        else
                        {
                            <span>No Evidence Available</span>
                        } *@
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
