@{
    ViewData["Title"] = "Home Page";
}

<body>

    <!-- slider section -->
    <section class="slider_section ">
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="detail-box">
                                    <h1>
                                        Welcome <br>
                                        SA Citizens
                                    </h1>
                                    <p>
                                        This is your best platform that will speeed up the processes of you reporting crime.
                                        Choosing to engage in our fight to eradicate crime in this good country of our is by far the best choice.
                                        For the safety of our children and women, this is the way to go.
                                    </p>
                                    <div class="btn-box">
                                        <a href="" class="btn1">
                                            Read More
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="img-box">
                                    <img src="~/assets/images/slider-img.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item ">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="detail-box">
                                    <h1>
                                        We are your <br>
                                        good Guradin Angel.
                                    </h1>
                                    <p>
                                        When we are one, the is nothing that can stop us. For we are a force to be reconed with by criminals.
                                        You get to use this best tool for free. Enjoy reporting crime you faithfull citizen.
                                    </p>
                                    <div class="btn-box">
                                        <a href="" class="btn1">
                                            Read More
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="img-box">
                                    <img src="~/assets/images/slider-img.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="detail-box">
                                    <h1>
                                        We are courage  <br>
                                        And we are hope.
                                    </h1>
                                    <p>
                                        Enjoy this product of ours. Take it with pride to make your country a beautiful place again.
                                        In you we trust that we can rid the filth of criminals along with their wrathful violance.
                                    </p>
                                    <div class="btn-box">
                                        <a href="" class="btn1">
                                            Read More
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="img-box">
                                    <img src="~/assets/images/slider-img.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                <li data-target="#customCarousel1" data-slide-to="1"></li>
                <li data-target="#customCarousel1" data-slide-to="2"></li>
            </ol>
        </div>

    </section>
    <!-- end slider section -->
            </div>

    <!-- service section -->

    <section class="service_section layout_padding">
        <div class="service_container">
            <div class="container ">
                <div class="heading_container heading_center">
                    <h2>
                        Our <span>Services</span>
                    </h2>
                    <p>
                        Below are the services you get to have and experience with this platform.
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="box ">
                            <div class="img-box">
                                <img src="~/assets/images/w1.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Report a Crime
                                </h5>
                                <h6>
                                    Dear Citizen.
                                </h6>
                                <p>
                                    You find yourself withnessing a crime you can report a crime directly from this system.
                                    You can upload evidence of a crime happening right away.
                                </p>
                                <a href="">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 ">
                        <div class="box ">
                            <div class="img-box">
                                <img src="~/assets/images/w2.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Peak on your Cases.
                                </h5>
                                <h6>
                                    Police officer.
                                </h6>
                                <p>
                                    No need to always be on the station. Directly in this system, you can be up-to date on your
                                    cases your station Commander has given you.

                                </p>
                                <a href="">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="box ">
                            <div class="img-box">
                                <img src="~/assets/images/w3.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Manage operations.
                                </h5>
                                <h6>
                                    Station Commander.
                                </h6>
                                <p>
                                    The good thing the is no need for you to be yelling at Constable Mabuza because she is eating to much magwinya.
                                    From the fomfort of your home you can still call your loud shoots Sir.
                                </p>
                                <a href="">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-box">
                    <a href="">
                        View All
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- end service section -->
    <!-- about section -->

    <section class="about_section layout_padding">
        <div class="container  ">
            <div class="heading_container heading_center">
                <h2>
                    About <span>Us</span>
                </h2>
                <p>
                    We are the Police Department for people governed by the people. We let you share our boots in the ground.
                    In you, we trust this country will be great.
                </p>
            </div>
            <div class="row">
                <div class="col-md-6 ">
                    <div class="img-box">
                        <img src="~/assets/images/slider-img.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <h3>
                            The South African Police Department.
                        </h3>
                        <p>
                            South Africa's trusted tip-off service since 1992.
                            In two decades the anonymity of not even one informer has been compromised.
                            We all have a responsibility to make South Africa safer
                            for our children and every law-abiding citizen.
                            If you have information that can assist in exposing people
                            involved in illegal activities, please contact us anonymously when you know:
                        </p>
                        <p>
                            We, as Police Officials of the South African Police Service commit ourselves to the creation of a safe and secure environment for all people in South Africa by –

                            articipating in endeavours to address the root causes of crime in the community;
                            preventing action which may threaten the safety or security of any community; and
                            investigating criminal conduct which has endangered the safety or security of the community and bringing the perpetrators thereof to justice.
                        </p>
                        <a href="">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end about section -->
    <!-- why section -->

    <section class="why_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Why Choose <span>Us</span>
                </h2>
            </div>
            <div class="why_container">
                <div class="box">
                    <div class="img-box">
                        <img src="~/assets/images/w1.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Expert Management
                        </h5>
                        <p>
                            In realization of the aforesaid commitment, we shall at all times –

                            uphold the Constitution and the law;
                            be guided by the needs of the community;
                            give full recognition to the needs of the South African Police Service as my employer; and
                            cooperate with the community, government at every level and all other related role-players.
                        </p>
                    </div>
                </div>
                <div class="box">
                    <div class="img-box">
                        <img src="~/assets/images/w2.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Secure anonymity
                        </h5>
                        <p>
                            In order to achieve a safe and secure environment for all the people of South Africa
                            we undertake to –

                            with integrity, render a responsible and effective service of high quality which is accessible to every person and continuously strive towards improving this service;
                            utilize all the available resources responsibly, efficiently and cost-effectively to maximize their use;
                            develop our own skills and participate in the development of our fellow members to ensure equal opportunities for all;
                            contribute to the reconstruction and development of, and reconciliation in our country;
                            uphold and protect the fundamental rights of every person;
                            act impartially, courteously, honestly, respectfully, transparently and in an accountable manner;
                            exercise the powers conferred upon us in a responsible and controlled manner; and
                            work actively towards preventing any form of corruption and to bring the perpetrators thereof to justice.
                        </p>
                    </div>
                </div>
                <div class="box">
                    <div class="img-box">
                        <img src="~/assets/images/w5.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Instant Crime Reporting
                        </h5>
                        <p>
                            The South African Police Service does not just investigate
                            cases and do crime prevention, we also provide a range of services
                            and resources to our many partners and to the general public.
                        </p>
                    </div>
                </div>
                <div class="box">
                    <div class="img-box">
                        <img src="~/assets/images/w4.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Happy Citizens.
                        </h5>
                        <p>
                            Our goal is seeing happy, healthy and smilling citizens. We price ourselves on that.
                        </p>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <a href="">
                    Read More
                </a>
            </div>
        </div>
    </section>

    <!-- end why section -->
    <!-- team section -->
    <section class="team_section layout_padding">
        <div class="container-fluid">
            <div class="heading_container heading_center">
                <h2 class="">
                    Our <span> Officers</span>
                </h2>
            </div>

            <div class="team_container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="box ">
                            <div class="img-box">
                                <img src="~/assets/images/team-1.png" class="img1" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Joshua Bhamuza Zwane
                                </h5>
                                <p>
                                    Station Commander.
                                </p>
                            </div>
                            <div class="social_box">
                                <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="box ">
                            <div class="img-box">
                                <img src="~/assets/images/team-2.png" class="img1" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Thandeka Dlwane
                                </h5>
                                <p>
                                    Police Officer
                                </p>
                            </div>
                            <div class="social_box">
                                <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="box ">
                            <div class="img-box">
                                <img src="~/assets/images/team-3.png" class="img1" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Jordan Benett
                                </h5>
                                <p>
                                    Police Officer
                                </p>
                            </div>
                            <div class="social_box">
                                <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="box ">
                            <div class="img-box">
                                <img src="~/assets/images/team-4.png" class="img1" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Bheki Zulu
                                </h5>
                                <p>
                                    Head of Forencics
                                </p>
                            </div>
                            <div class="social_box">
                                <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end team section -->
</body>